@import url('screen.css');

:root {
    --font-size-title-text: calc(var(--screen-height) * 1/15);
    --font-size-win-status: calc(var(--screen-height) * 1/45);
    --font-size-stats-text: calc(var(--screen-height) * 1/35);
    --font-size-stats-num: calc(var(--screen-height) * 1/20);
    --font-size-cell-text: calc(var(--screen-height) * 1/45);
    --font-size-restart-text: calc(var(--screen-height) * 1/10);
}
